{% extends "base.html" %}
{% load static %}


{% block links %}

<link rel="stylesheet" href="{% static 'main_page.css' %}">

{% endblock %}


{% block title %} Основная страница {% endblock %}


{% block body %}

<div class="container-fluid">
    <div class="row header align-items-center">
        <div class="box col-6">
            <div class="container-1">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Поиск">
                <button type="submit" class="btn btn-outline-light mx-2">Найти</button>
            </div>        
        </div>
        <div class="col text-center">
            <a href="{% url 'rest_framework:login' %}"><i class="fa-regular fa-user"></i></a>
        </div>
        <div class="col text-center">
            <a href="{% url 'cart' %}"><i class="fa-solid fa-basket-shopping"></i></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-between">
        {% for product in products %}
            <div class="col-3 my-3">
                <div class="card" style="width: 13rem;">
                    <img src="{{product.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{product.id}}">
                            <button type="submit" class="btn btn-sm btn-primary">Добавить в корзину</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}